.menu{
    background-color: aqua;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.buttons_menu{
    padding-left: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}

.button_example_menu{
    width: 2rem;
    aspect-ratio: 1;
}

.search_menu{
    padding-right: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    max-width: 50vw;
}

.input_example_menu{
    height: 1rem;
    box-sizing: content-box;
}

.send_menu{
    width: 3rem;
    height: 0.8rem;
}